@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden h-full;
}

::-webkit-scrollbar {
  @apply w-1.5 h-2;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary-200 rounded-[20px] border-[3px] border-solid border-transparent;
}

@media (width >= 768px) {
  .md\:w-3\/4 {
    width: 75%;
  }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-33.33%);
    }
}
@keyframes rotateCard {
    0% { transform: rotate(27deg) perspective(1000px) rotateY(0deg) scale(1.1); }
    50% { transform: rotate(27deg) perspective(1000px) rotateY(180deg) scale(1.1); }
    100% { transform: rotate(27deg) perspective(1000px) rotateY(360deg) scale(1.1); }
}

.text-stroke {
  -webkit-text-stroke: 1px rgb(var(--color-primary-700));
  color: transparent;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFA400;
    border: 2px solid #273840;
}

.block-with-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}